Repository Leikaab/crudclient: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [commit]

  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
        args:
          - "--line-length=150"

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py
        args:
          - "--max-line-length=150"

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest tests/unit/
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-fail-under=80
        types: [python]
        pass_filenames: false

giving up for now 2
  pyproject.toml
  setup.cfg
Due: none

giving up for now 3
  .github/workflows/tests.yml
  mypy.ini
  pyproject.toml
  setup.cfg
Due: none

workaround
  .github/workflows/tests.yml
Due: none

it was black, error in hooks for some reason
  .github/workflows/tests.yml
  crudclient/client.pyi
  crudclient/config.pyi
Due: none

working with new errors
  .flake8
  .pre-commit-config.yaml
Due: none

patched
  pyproject.toml
Due: none

implemented __add__ function on ClientConfig
  crudclient/config.py
  crudclient/config.pyi
Due: isort, black, flake8, mypy, pytest, pytest-cov

added simple log to config
  crudclient/config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

small patch to deal with delete responses for destroy
  crudclient/client.py
  crudclient/client.pyi
  pyproject.toml
Due: isort, black, flake8, mypy, pytest, pytest-cov

dealing with black bugging during precommit
  crudclient/client.pyi
  crudclient/config.pyi
Due: none

trying to fix black issue
  .pre-commit-config.yaml
  pyproject.toml
Due: none

updated devcontainer to use tool
  .devcontainer/devcontainer.json
  .github/workflows/test_devcontainer.yml
Due: none

rethinking and designing crudclient
  ARCHITECTURE.md
  CONTRIBUTING.md
  crudclient_improvement_plan.md
Due: none

feat: refactoring and changing how to auth
  .gitignore
  ARCHITECTURE.md
  AUTH_STRATEGIES.md
  CONTRIBUTING.md
  README.md
  crudclient/auth/__init__.py
  crudclient/auth/__init__.pyi
  crudclient/auth/base.py
  crudclient/auth/base.pyi
  crudclient/auth/basic.py
  crudclient/auth/basic.pyi
  crudclient/auth/bearer.py
  crudclient/auth/bearer.pyi
  crudclient/auth/custom.py
  crudclient/auth/custom.pyi
  crudclient/client.py
  crudclient/client.pyi
  crudclient/config.py
  crudclient/config.pyi
  crudclient_improvement_plan.md
  pyproject.toml
  tests/integration/fiken_resources/setup.py
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_fiken.py
  tests/integration/test_oneflow.py
  tests/unit/test_auth_strategies.py
  tests/unit/test_client_auth.py
  tests/unit/test_config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Add Tripletex API integration tests with authentication strategy pattern
  tests/integration/test_tripletex.py
  tests/integration/test_tripletex_suppliers.py
  tests/integration/tripletex_resources/__init__.py
  tests/integration/tripletex_resources/models.py
  tests/integration/tripletex_resources/setup.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Complete Phase 1 of CrudClient Improvement Plan
  crudclient/__init__.py
  crudclient/__init__.pyi
  crudclient/__main__.py
  crudclient/api.pyi
  crudclient/auth/__init__.pyi
  crudclient/auth/base.pyi
  crudclient/auth/basic.pyi
  crudclient/auth/bearer.pyi
  crudclient/auth/custom.pyi
  crudclient/client.py
  crudclient/crud.py
  crudclient/crud.pyi
  crudclient/exceptions.py
  crudclient/exceptions.pyi
  crudclient/models.pyi
  crudclient/runtime_type_checkers.pyi
  crudclient/types.pyi
  crudclient_improvement_plan.md
  tests/unit/test_api.py
  tests/unit/test_client.py
  tests/unit/test_client_data.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Add changes.md documenting Phase 1 improvements
  changes.md
Due: none

feat: Add Node.js support to devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

feat: Add GitHub CLI support to devcontainer and create MCP configuration
  .devcontainer/devcontainer.json
  .roo/mcp.json
Due: none

Update poetry.lock and MCP configuration
  .roo/mcp.json
  poetry.lock
Due: none

setting up mcp with roo
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .devcontainer/startMcpServers.sh
Due: none

Fix Tripletex tests by correcting inheritance in TripletexTestConfig and improving date format
  tests/integration/tripletex_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

feat: Enhance devcontainer setup with MCP server installation and Chrome debugging support
  .devcontainer/devcontainer.json
  .devcontainer/installMcpPackages.sh
  .devcontainer/postCreateCommand.sh
  .devcontainer/setupRooCode.sh
  .devcontainer/startMcpServers.sh
  .gitignore
  .roomodes
  check-remote-chrome.sh
Due: none

feat: Update MCP configuration for GitHub server with expanded allowed actions
  .roo/mcp.json
Due: none

feat: Update .gitignore to include private files pattern and remove specific entries
  .gitignore
  .roomodes
Due: none

Add pre-commit hooks for code quality and type safety
  .pre-commit-config.yaml
  hooks/check_docstrings.py
  hooks/check_file_length.py
  hooks/check_stub_files.py
  hooks/test_file_length.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix: Exclude hook scripts from their own checks
  crudclient/__main__.pyi
  hooks/check_docstrings.py
  hooks/check_file_length.py
  hooks/check_stub_files.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

updating docs
  crudclient_improvement_plan.md
  type_safety_strategy_specification.md
Due: none

fix: update imports in response_conversion.py
  crudclient/crud/response_conversion.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

refactor: enhance test organization and introduce parallel execution strategies
  downstream_testing.md
Due: none

chore: remove outdated CrudClient improvement plan document
  crudclient_improvement_plan.md
Due: none

Refactor HTTP client and fix pre-commit issues
  TEST_REWRITE_PLAN.md
  crudclient/api.py
  crudclient/config.py
  crudclient/config.pyi
  crudclient/exceptions.py
  crudclient/http/__init__.py
  crudclient/http/__init__.pyi
  crudclient/http/client.py
  crudclient/http/client.pyi
  crudclient/http/errors.py
  crudclient/http/errors.pyi
  crudclient/http/request.py
  crudclient/http/request.pyi
  crudclient/http/retry.py
  crudclient/http/retry.pyi
  crudclient/http/session.py
  crudclient/http/session.pyi
  crudclient/models.py
  crudclient/models.pyi
  tests/conftest.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api.py
  tests/unit/auth/conftest.py
  tests/unit/auth/test_auth_failures.py
  tests/unit/client/conftest.py
  tests/unit/client/test_client_auth.py
  tests/unit/client/test_client_base.py
  tests/unit/client/test_client_data.py
  tests/unit/client/test_client_error_handling.py
  tests/unit/conftest.py
  tests/unit/crud/conftest.py
  tests/unit/http/test_error_handler.py
  tests/unit/http/test_http_client.py
  tests/unit/http/test_retry_handler.py
  tests/unit/response_strategies/conftest.py
  tests/unit/response_strategies/test_response_strategies.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix pytest collection warnings in response_strategies tests by renaming helper classes with underscore prefix
  tests/unit/response_strategies/test_response_strategies.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Add 8-phase testing implementation plan based on downstream_testing.md
  testing_implementation_plan/phase_1_plan.md
  testing_implementation_plan/phase_2_plan.md
  testing_implementation_plan/phase_3_plan.md
  testing_implementation_plan/phase_4_plan.md
  testing_implementation_plan/phase_5_plan.md
  testing_implementation_plan/phase_6_plan.md
  testing_implementation_plan/phase_7_plan.md
  testing_implementation_plan/phase_8_plan.md
Due: none

refactor: Revise testing plan to align with crudclient context
  testing_implementation_plan/phase_1_plan.md
  testing_implementation_plan/phase_2_plan.md
  testing_implementation_plan/phase_3_plan.md
  testing_implementation_plan/phase_4_plan.md
  testing_implementation_plan/phase_5_plan.md
  testing_implementation_plan/phase_6_plan.md
  testing_implementation_plan/phase_7_plan.md
  testing_implementation_plan/phase_8_plan.md
Due: none

Phase 1: Enhance Testing Infrastructure
  .coveragerc
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/README.md
  tests/conftest.py
  tests/unit/auth/conftest.py
  tests/unit/auth/test_auth_failures.py
  tests/unit/auth/test_auth_strategies.py
  tests/unit/client/test_client_auth.py
  tests/unit/client/test_client_base.py
  tests/unit/client/test_client_error_handling.py
  tests/unit/client/test_client_initialization.py
  tests/unit/conftest.py
  tests/unit/crud/test_crud_operations.py
Due: isort, black, flake8, mypy, pytest, pytest-cov
