Repository Leikaab/crudclient: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [commit]

  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
        args:
          - "--line-length=150"

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py
        args:
          - "--max-line-length=150"

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest tests/unit/
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-fail-under=80
        types: [python]
        pass_filenames: false

test: annotate Tripletex supplier tests
  tests/integration/test_tripletex_suppliers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix TripletexResponse constructor typing
  tests/integration/tripletex_resources/models/api_response_model.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

test: annotate fiken integration tests
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fix: add Any type for historical voucher list
  tests/integration/tripletex_resources/endpoints/ledger_group/voucher_group/historical.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Add Any type hint to ledger init
  tests/integration/tripletex_resources/models/ledger.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fix typing in setup
  tests/integration/fiken_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

Add return type to OneflowConfig init
  tests/integration/oneflow_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

Update JSONPlaceholder resource kwargs typing
  tests/integration/jsonplaceholder_resources/resources.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Add type hint for force argument
  tests/integration/tripletex_resources/auth.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix TripletexClient response handler typing
  tests/integration/tripletex_resources/client.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Specify queue item type in api_worker
  tests/integration/test_rate_limit_integration.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Add type annotation for voucher group
  tests/integration/tripletex_resources/endpoints/ledger_group/group.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Add typed historical attribute to VoucherGroup
  tests/integration/tripletex_resources/endpoints/ledger_group/voucher_group/group.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Type hints for Tripletex tests
  tests/integration/test_tripletex.py
  tests/integration/test_tripletex_company.py
  tests/integration/test_tripletex_ledger_nested.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix Tripletex integration test typing
  tests/integration/test_tripletex.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Update pyright configuration for stricter type checking
  crudclient/api.py
  crudclient/client.py
  crudclient/utils/__init__.py
  poetry.lock
  pyrightconfig.json
Due: isort, black, flake8, mypy, pytest, pytest-cov

refactor: Enhance type annotations for better clarity and type safety
  crudclient/client.py
  crudclient/crud/base.py
  crudclient/crud/endpoint.py
  crudclient/crud/operations.py
  crudclient/crud/response_conversion.py
  crudclient/groups.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Refactor endpoint construction logic into EndpointBuilder class with validation and utility functions
  crudclient/crud/base.py
  crudclient/endpoint_builder_refactoring_plan.md
  crudclient/utils/endpoint_builder/__init__.py
  crudclient/utils/endpoint_builder/builder.py
  crudclient/utils/endpoint_builder/path_utils.py
  crudclient/utils/endpoint_builder/segments.py
  crudclient/utils/endpoint_builder/validators.py
  tests/unit/utils/endpoint_builder/test_builder.py
  tests/unit/utils/endpoint_builder/test_path_utils.py
  tests/unit/utils/endpoint_builder/test_segments.py
  tests/unit/utils/endpoint_builder/test_validators.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Extract endpoint logic into declarative EndpointBuilder with DRF-style design
  crudclient/crud/base.py
  crudclient/crud/endpoint.py
  crudclient/crud/operations.py
  crudclient/endpoint_builder_declarative_design.md
  crudclient/endpoint_builder_fixes_plan.md
  crudclient/endpoint_builder_refactoring_plan.md
  crudclient/utils/endpoint_builder/builder.py
  crudclient/utils/endpoint_builder/path_utils.py
  crudclient/utils/endpoint_builder/validators.py
  mypy.ini
  tests/integration/fiken_resources/setup.py
  tests/unit/utils/endpoint_builder/test_builder.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

version: updating for breaking change
  pyproject.toml
Due: none

fix: Apply isort import sorting fixes
  crudclient/utils/endpoint_builder/__init__.py
  tests/unit/utils/endpoint_builder/test_validators.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix: updating container settings to solve nodejs feature issue
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  pyproject.toml
Due: none

chore: updating deps
  poetry.lock
Due: none

feat: use apiconfig's EndpointBuilder and finish the endpoint refactoring
  crudclient/crud/base.py
  crudclient/crud/operations.py
  crudclient/endpoint_builder_refactoring_plan.md
  crudclient/utils/endpoint_builder/__init__.py
  crudclient/utils/endpoint_builder/builder.py
  crudclient/utils/endpoint_builder/path_utils.py
  crudclient/utils/endpoint_builder/segments.py
  crudclient/utils/endpoint_builder/validators.py
  pyproject.toml
  tests/unit/crud/test_endpoint_builder_usage.py
  tests/unit/utils/endpoint_builder/test_builder.py
  tests/unit/utils/endpoint_builder/test_path_utils.py
  tests/unit/utils/endpoint_builder/test_segments.py
  tests/unit/utils/endpoint_builder/test_validators.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

chore: lock apiconfig 0.3.4
  poetry.lock
Due: none

chore: fix black and mypy failures from the current dev tool versions
  scripts/cleanup_test_suppliers.py
  tests/unit/http/test_error_handler.py
Due: isort, black, flake8, mypy, pytest, pytest-cov
