Repository Leikaab/crudclient: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [commit]

  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
        args:
          - "--line-length=150"

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py
        args:
          - "--max-line-length=150"

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest tests/unit/
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-fail-under=80
        types: [python]
        pass_filenames: false

forgot to change pyproject
  pyproject.toml
Due: none

updated poetry.lock
  poetry.lock
Due: none

added 3.10 to classifiers
  pyproject.toml
Due: none

chore: moving contents of gitignore, fixing bad url in pyproject and patching version
  .gitignore
  crudclient/__init__.py
  pyproject.toml
Due: isort, black, flake8, mypy, pytest, pytest-cov

chore: solving issue with folder trust for git, using devcontainer postStartCommand instead of postCreateCommand.sh script
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

added pydantic email
  poetry.lock
  pyproject.toml
Due: none

working with fiken, discovered bug with crud prefix
  crudclient/__main__.py
  crudclient/crud.py
  tests/integration/fiken_resources/models.py
  tests/integration/fiken_resources/setup.py
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Taking the short route: Refactor endpoint prefix handling in Crud class.
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

pushing unfinished tests for fiken
  tests/integration/fiken_resources/setup.py
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Setup integration test vs fiken, to make sure future changes are consistent with it as example api
  tests/integration/fiken_resources/models.py
  tests/integration/fiken_resources/setup.py
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

changing project setup, including autoflake, removing autopep8 and yapf. Also adding toml ext to devcont.json and updating .lockfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

patched version
  pyproject.toml
Due: none

testing autoflake
  tests/integration/fiken_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

chore: Add FIKEN_ACCESS_TOKEN to test environment variables
  .github/workflows/tests.yml
Due: none

fixing auth for fiken int-tests
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

trying to fix actions issue
  tests/integration/fiken_resources/setup.py
  tests/integration/test_fiken.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fixed bug in oneflow test, still working on fiken in github
  tests/integration/test_fiken.py
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

increasing strictness of typing
  crudclient/crud.py
  pyproject.toml
  tests/integration/fiken_resources/setup.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

working with types
  crudclient/crud.py
  tests/integration/fiken_resources/setup.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

small typefix + change in tests to use right endpoint attr
  crudclient/client.py
  crudclient/crud.py
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

added ms-azuretools.vscode-docker
  .devcontainer/devcontainer.json
Due: none

updated lockfile and removed installing project locally for dev
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  poetry.lock
Due: none

added small change to validation model for fiken test
  tests/integration/fiken_resources/models.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

more type safe fixes for tests
  tests/integration/oneflow_resources/models.py
  tests/integration/test_jsonplaceholder.py
  tests/unit/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

version bump minor
  pyproject.toml
Due: none

refactor: update poetry install command with update. "The --no-dev flag is now deprecated and replaced with --only main or --without dev."
  .github/workflows/publish.yml
Due: none

updated Config class to better deal with different auths
  crudclient/config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

patching
  pyproject.toml
Due: none

fixing typeerror in patch
  tests/integration/fiken_resources/setup.py
  tests/integration/oneflow_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

updated client to prepare config
  crudclient/client.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

refactored and documented config
  crudclient/config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

trying pyi files
  crudclient/config.py
  crudclient/config.pyi
Due: isort, black, flake8, mypy, pytest, pytest-cov

adding retry for token based auth
  crudclient/client.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

created stub file from client, and fixed indirect import of ClientConfig in tests
  crudclient/__init__.py
  crudclient/api.py
  crudclient/client.py
  crudclient/client.pyi
  tests/integration/fiken_resources/setup.py
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_jsonplaceholder.py
  tests/unit/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

added more unit tests for coverage
  tests/unit/test_client.py
  tests/unit/test_client_auth.py
  tests/unit/test_client_data.py
  tests/unit/test_config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fixed isort issue on pyi files
  crudclient/client.pyi
  crudclient/config.pyi
Due: none

ingored flawed typeerror in tests
  tests/unit/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

dealing with isort issues
  .github/workflows/tests.yml
Due: none

giving up for now
  setup.cfg
Due: none
