Repository Leikaab/crudclient: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black
  args:
  - --line-length=120

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run pytest --cov --cov-fail-under=100
  pass_filenames: false

added advanced exception for api client, and updated Api class
  .pre-commit-config.yaml
  crudclient/api.py
  crudclient/exceptions.py
  setup.cfg
Due: isort, black, flake8, mypy, pytest, pytest-cov

updating readme
  README.md
Due: none

chore: Add private_notes.txt to .gitignore and update pytest coverage threshold to 20%
  .gitignore
  .pre-commit-config.yaml
Due: none

added types for requests, updated and improved runtime and error handling of api.py. Added classes for client and clientconfig. Added tests for clientconfig.
  crudclient/api.py
  crudclient/client.py
  crudclient/config.py
  crudclient/exceptions.py
  crudclient/runtime_type_checkers.py
  poetry.lock
  pyproject.toml
  tests/test_config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Add tests for Client methods
  tests/test_client.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

changed name of mock clientconfig to not confuse pytest
  tests/test_client.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

bumping version with client, clientconfig implemented
  pyproject.toml
  tests/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: Refactor API class and added minimum crud-class \n chore: wrote tests for api class
  .pre-commit-config.yaml
  crudclient/api.py
  crudclient/crud.py
  setup.cfg
  tests/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

bumping version
  .pre-commit-config.yaml
  pyproject.toml
Due: none

easing up testing for now
  .github/workflows/tests.yml
Due: none

added datamodels, working with crud returntypes
  crudclient/crud.py
  crudclient/models.py
  crudclient/types.py
  poetry.lock
  pyproject.toml
  tests/test_api.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

used urljoin in creating endpoints
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

moved tests into unit folder
  tests/unit/__init__.py
  tests/unit/test_api.py
  tests/unit/test_client.py
  tests/unit/test_config.py
  tests/unit/test_true.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

setup simple integration tests
  .pre-commit-config.yaml
  tests/integration/test_jsonplaceholder.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

writing integration tests
  tests/integration/__init__.py
  tests/unit/test_runtime_type_checkers.py
  tests/unit/test_true.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

fixes on config and client. Integrationtests for oneflow and fix for jsonplaceholder. Bumping minor version
  crudclient/client.py
  crudclient/config.py
  pyproject.toml
  tests/integration/test_jsonplaceholder.py
  tests/integration/test_oneflow.py
  tests/unit/test_config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

setting up for integration tests in github
  .devcontainer/postCreateCommand.sh
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

cleaned up readme
  README.md
Due: none

working with readme
  README.md
Due: none

chore: Update .gitignore to include private_notes.md
  .gitignore
Due: none

feat: Improve error message for invalid runtime type Fixed error in exception message for asserting with tuples of types.
  crudclient/runtime_type_checkers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

chore: Refactor client configuration to use hostname and version properties Bugfixing potential resulting issues based on tests. Updated tests to use new version of config
  crudclient/config.py
  tests/integration/test_jsonplaceholder.py
  tests/integration/test_oneflow.py
  tests/unit/test_api.py
  tests/unit/test_client.py
  tests/unit/test_config.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

bumped version for patch
  pyproject.toml
Due: none

fixing issue with missing init stuff
  LICENSE
  crudclient/__init__.py
  pyproject.toml
Due: isort, black, flake8, mypy, pytest, pytest-cov

improving docs and typehints
  crudclient/client.py
  crudclient/config.py
  crudclient/types.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

added * option for methods on crud, to allow all methods
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

added more documentation
  crudclient/config.py
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: You can now add parent as an class-attribute to Crud class, not just during init, using the `_parent` attribute.
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

version bump patch
  pyproject.toml
Due: none

Bump version to 0.3.3
  crudclient/__init__.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

feat: added typechecking and type conversion to Crud._get_endpoint. Added logger for Crud class. Updated documentation on runtime_type_checkers
  crudclient/crud.py
  crudclient/runtime_type_checkers.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Feat: fixed error/bug in creating endpoint path for crud classes with path resource parents
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

chore: created temp integration test for oneflow using subres. Is not stateless, so should be changed later
  setup.cfg
  tests/integration/oneflow_resources/models.py
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

reverted mypy ingore and fixed mypy errors for tests. Also fixed wrong typing for crud._parent
  crudclient/crud.py
  setup.cfg
  tests/integration/oneflow_resources/setup.py
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Bumped minor version. Changes to endpoint creation and more will break previous implementation of library
  crudclient/__init__.py
  pyproject.toml
Due: isort, black, flake8, mypy, pytest, pytest-cov

removed unused import of jsonlist
  tests/integration/oneflow_resources/setup.py
Due: isort, black, mypy, pytest, pytest-cov

removed logging used for local development remaining in code
  tests/debuglogger.py
  tests/integration/test_oneflow.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

example logging added
  crudclient/crud.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

testing with different python versions
  .github/workflows/tests.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
